<head>
    <!-- scripts that need to be cleaned up, sorry -->
    <script>
        (function ($) {
              $(document).ready(function() {
              $("#show-example").click(function () {
                 if ($('#example').is(":visible")) {
                     $(this).html($(this).html().replace(/Hide/, 'Show'));
                 } else {
                     $(this).html($(this).html().replace(/Show/, 'Hide'));
                 }
                 // Do it afterwards as the operation is async
                 $("#example").slideToggle("slow");
              });
          });
      })(jQuery);
    </script>

    <!-- CSS that does not belong here, sorry -->
    <style type="text/css">
            body {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .header, .marketing, .footer {
                padding-left: 15px;
                padding-right: 15px;
            }
            .header {
                border-bottom: 1px solid #e5e5e5;
            }

            h2, h3 {
            font-family: helvetica neue;
            }
            h4{
            font-size: 14px;
            }
            .header h3 {
                margin-top: 0;
                margin-bottom: 0;
                line-height: 40px;
                padding-bottom: 19px;
            }
            .footer {
                padding-top: 19px;
                color: #777;
                border-top: 1px solid #e5e5e5;
            }
            @media(min-width: 768px) {
                .container {
                    max-width: 730px;
                }
            }
            .container-narrow > hr {
                margin: 30px 0;
            }
            .jumbotron {
                text-align: center;
                border-bottom: 1px solid #e5e5e5;
            }
            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }
            .marketing {
                margin: 40px 0;
            }
            .marketing p + h4 {
                margin-top: 28px;
            }
            /* Responsive: Portrait tablets and up */
            @media screen and(min-width: 768px) {
                /* Remove the padding we set earlier */
                .header, .marketing, .footer {
                    padding-left: 0;
                    padding-right: 0;
                }
                /* Space out the masthead */
                .header {
                    margin-bottom: 30px;
                }
                /* Remove the bottom border on the jumbotron for visual effect */
                .jumbotron {
                    border-bottom: 0;
                }
            }
        </style>
    </head>
    
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li>
			         <%= link_to 'Dispatch', controller: 'dispatch' %>
                    </li>
            
                </ul>
                <!-- logo, can be cleaned up rails way -->
                <img src="http://s9.postimg.org/d8h5097mz/SAf1.png" border="0" style="float:left"/>
                <h2 class="text-muted">Safe Ride Digital</h2>
            </div>

            <div class="jumbotron">
                <h3>Welcome to <b>Safe Ride Digital!</b></h3>
                <p class="lead">Safe Ride Digital is an online portal to request after-hours transportation from River Campus properties and residences.</p>

                <a id="show-example" onclick="false">I'm new to Safe Ride. May I have more information?</a>

            <div id="example" style="display: none"> 
                <h4>
                The Safe Ride service is made possible by the Students' Association and UR Public Security. Safe Ride Digital allows UR undergraduates to request pick-ups via any device with online connectivity. Any difficulties or technicalities that arise are independent of the previously mentioned entities.<br><br>
                
                <b>Hours of Operation:</b> 11:00 p.m. – 4:00 a.m. everyday during the academic year <br>
                Note: Safe Ride does not operate during breaks or University holidays.<br><br>
                
                <b>River Campus Locations:</b> IT Center (Rush Rhees Library), Carlson Library, Todd Union<b>
            
                <br>Residential Locations:</b> Hill Court, Southside, Riverview Apartments<br>
                </h4>
            </div> 
            <p></p>
            <p>
            <a href="rides/new">I'm ready to request a ride!</a>

           <!-- <div id="example2" style="display:none">
            <h3>Only University of Rochester undergraduates may use this service. You will be redirected to sign in momentarily.</h3> </div> -->
            </center>
            
            </div>
            <div class="footer">
                <p>&copy; DMS | Capstone</p>
            </div>
        </div>
    </body>
