
    <head>
        <title>Safe Ride Digital</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.0/amelia/bootstrap.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script>
    (function ($) {
          $(document).ready(function() {
          $("#show-example").click(function () {
             if ($('#example').is(":visible")) {
                 $(this).html($(this).html().replace(/Hide/, 'Show'));
             } else {
                 $(this).html($(this).html().replace(/Show/, 'Hide'));
             }
             // Do it afterwards as the operation is async
             $("#example").slideToggle("slow");
          });
      });
  })(jQuery);
</script>
            <body>
        <div class="container" style="padding:4%;">

        <h1>Hello, dispatcher!</h1>

        <h4>Below is a listing of incoming rider requests for the current shift. <br>

        <br><b>View requests by date:</b>

        <br>
        <div class="date">
          <input class="datepicker" data-provide='datepicker' data-date-format="mm/dd/yyyy">
        </div>
<%= link_to "March 1st", dispatch_path(date: "2015-03-01") %>

        <br><br>
        Did someone just call? <a id="show-example" onclick="false">Insert the data manually.</a> </h4>

        <div id="example" style="display: none">
            <p>
            <%= render 'rides/form' %>
            </p>
        </div>

        <h3>Incoming Requests</h3>
            <div id="incoming-rides">
                <%= render 'requests_table', rides: @incoming_rides %>
            </div>
        <br>
        <h3>Completed Requests</h3>
            <div id="completed-rides">
                <%= render 'requests_table', rides: @completed_rides %>
            </div>

    <script>
      $(".datepicker").datepicker();
    </script>
</body>
